body {
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #aaa;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-top: 1em;
}
dt {
  float: left;
  width: 30%;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
dd {
  float: left;
  width: 70%;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
}
